<!DOCTYPE html>
{% extends "articles/base.html" %}
{% load static %}
{% block body_block %}
<header class="site-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h1 class="white-color">Out Latest Blog</h1>
        <ul class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li>Blog</li>
        </ul>
      </div>
    </div>
  </div>
</header>
<div class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <article class="post-single sticky">
          <figure class="post-media">
            <img src="{% static 'images/sticky-image.jpg'%}" alt="">
          </figure>
          <div class="post-body">
            <div class="post-meta">
              <div class="post-tags"><a href="#">People</a></div>
              <div class="post-date">01.02.2017</div>
            </div>
            <h4 class="dark-color"><a href="single.html">5 tips for those, who need to make more room in their closet</a></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiing elit, sed do eiusmod tempor incididunt ut labore et laborused sed do eiusmod tempor incididunt ut labore et laborused.</p>
            <a href="single.html" class="read-more">View Article</a>
          </div>
        </article>
        <div class="space-100"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <article class="post-single">
          <figure class="post-media">
            <img src="{% static 'images/blog-1.jpg'%}" alt="">
          </figure>
          <div class="post-body">
            <div class="post-meta">
              <div class="post-tags"><a href="#">People</a></div>
              <div class="post-date">01.02.2017</div>
            </div>
            <h4 class="dark-color"><a href="single.html">IOS 10: 8 Things we want froma pple iPhone8S</a></h4>
            <a href="single.html" class="read-more">View Article</a>
          </div>
        </article>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <article class="post-single">
          <figure class="post-media">
            <img src="{% static 'images/blog-2.jpg'%}" alt="">
          </figure>
          <div class="post-body">
            <div class="post-meta">
              <div class="post-tags"><a href="#">People</a></div>
              <div class="post-date">01.02.2017</div>
            </div>
            <h4 class="dark-color"><a href="single.html">Top destinations to escape from reality</a></h4>
            <a href="single.html" class="read-more">View Article</a>
          </div>
        </article>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <article class="post-single">
          <figure class="post-media">
            <img src="{% static 'images/blog-3.jpg'%}" alt="">
          </figure>
          <div class="post-body">
            <div class="post-meta">
              <div class="post-tags"><a href="#">People</a></div>
              <div class="post-date">01.02.2017</div>
            </div>
            <h4 class="dark-color"><a href="single.html">Five ways to wear a shirt by Victoria Beckha</a></h4>
            <a href="single.html" class="read-more">View Article</a>
          </div>
        </article>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <article class="post-single">
          <figure class="post-media">
            <img src="{% static 'images/blog-4.jpg'%}" alt="">
          </figure>
          <div class="post-body">
            <div class="post-meta">
              <div class="post-tags"><a href="#">People</a></div>
              <div class="post-date">01.02.2017</div>
            </div>
            <h4 class="dark-color"><a href="single.html">Use this exercise to solve any Product Design Challenge</a></h4>
            <a href="single.html" class="read-more">View Article</a>
          </div>
        </article>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <article class="post-single">
          <figure class="post-media">
            <img src="{% static 'images/blog-5.jpg'%}" alt="">
          </figure>
          <div class="post-body">
            <div class="post-meta">
              <div class="post-tags"><a href="#">People</a></div>
              <div class="post-date">01.02.2017</div>
            </div>
            <h4 class="dark-color"><a href="single.html">20 non-political reasons why Brexit is shit</a></h4>
            <a href="single.html" class="read-more">View Article</a>
          </div>
        </article>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <article class="post-single">
          <figure class="post-media">
            <img src="{% static 'images/blog-6.jpg'%}" alt="">
          </figure>
          <div class="post-body">
            <div class="post-meta">
              <div class="post-tags"><a href="#">People</a></div>
              <div class="post-date">01.02.2017</div>
            </div>
            <h4 class="dark-color"><a href="single.html">Athleisure: What do Swedish people wear?</a></h4>
            <a href="single.html" class="read-more">View Article</a>
          </div>
        </article>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="pagination">
          <div class="nav-links">
            <a href="#" class="prev page-numbers"><i class="lnr lnr-chevron-left"></i></a>
            <a href="#" class="page-numbers">1</a>
            <span class="page-numbers current">2</span>
            <a href="#" class="page-numbers">3</a>
            <a href="#" class="page-numbers">4</a>
            <a href="#" class="page-numbers">5</a>
            <a href="#" class="page-numbers">6</a>
            <a href="#" class="next page-numbers"><i class="lnr lnr-chevron-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body_block %}